<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerController</servlet-name>
        <servlet-class>controller.customer.InsertCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>controller.customer.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>controller.customer.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomController</servlet-name>
        <servlet-class>controller.room.CreateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>controller.room.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractModifyController</servlet-name>
        <servlet-class>controller.contract.ContractModifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContractController</servlet-name>
        <servlet-class>controller.contract.DeleteContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchVehicleController</servlet-name>
        <servlet-class>controller.vehicle.SearchVehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehicleController</servlet-name>
        <servlet-class>controller.vehicle.DeleteVehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleController</servlet-name>
        <servlet-class>controller.vehicle.AddVehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVehicleController</servlet-name>
        <servlet-class>controller.vehicle.UpdateVehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeController</servlet-name>
        <servlet-class>controller.IncomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpendController</servlet-name>
        <servlet-class>controller.SpendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateManyController</servlet-name>
        <servlet-class>controller.rent.CreateManyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>controller.rent.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.rent.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOneController</servlet-name>
        <servlet-class>controller.rent.CreateOneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryController</servlet-name>
        <servlet-class>controller.history.DeleteHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSpendController</servlet-name>
        <servlet-class>controller.spend.CreateSpendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteSpendController</servlet-name>
        <servlet-class>controller.spend.NoteSpendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSpendController</servlet-name>
        <servlet-class>controller.spend.DeleteSpendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerController</servlet-name>
        <url-pattern>/customer/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/customer/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/customer/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomController</servlet-name>
        <url-pattern>/room/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/room/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractModifyController</servlet-name>
        <url-pattern>/contract/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContractController</servlet-name>
        <url-pattern>/contract/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchVehicleController</servlet-name>
        <url-pattern>/vehicle/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehicleController</servlet-name>
        <url-pattern>/vehicle/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleController</servlet-name>
        <url-pattern>/vehicle/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVehicleController</servlet-name>
        <url-pattern>/vehicle/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeController</servlet-name>
        <url-pattern>/income</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpendController</servlet-name>
        <url-pattern>/spend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateManyController</servlet-name>
        <url-pattern>/rent/many</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/rent/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/rent/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOneController</servlet-name>
        <url-pattern>/rent/one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryController</servlet-name>
        <url-pattern>/history/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSpendController</servlet-name>
        <url-pattern>/spend/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteSpendController</servlet-name>
        <url-pattern>/spend/note</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSpendController</servlet-name>
        <url-pattern>/spend/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
