#main{
    margin: 30px auto;
    width: 80%;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}

.main_heading{
    text-align: center;
    background-color: #6495ed;
    border-radius: 15px 15px 0 0;
    padding: 15px;
    
}

.main_heading p{
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}

.main_content{
    padding: 20px;
}

.search_form{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.search_form span{
    font-weight: bold;
    font-size: 20px;
}

.search_form select{
    color: black;
    padding: 5px;
    outline: none;
    width: 120px;
    background-color: #eee;
    border: none;
    border-radius: 8px;
    display: inline-block;
    margin-left: 10px;
    transition: all .25s;
    cursor: pointer;
}

.search_form select:focus{
    background-color: #fff;
}

.room_add{
    padding: 10px;
    font-size: 19px;
}

.room_add a{
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #9be231;
    background-color: #9be231;
    border-radius: 8px;
    transition: all .1s;
}

.room_add a:hover{
    background-color: #fff;
    color: #9be231;
}

.content_detail{
    margin-top: 10px;
}

.content_detail table{
    display: table;
    width: 100%;
    text-align: center;
}

table, tr, td{
    border: 1px solid #eee;
}

td{
    padding: 5px;
}

td a{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    width: 70px;
}

td .room_detail{
    border: 1px solid #6495ed;
    margin-right: 10px;
    background-color: #6495ed;
    color: #fff;
    transition: all 0.25s;
}

td .room_delete{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    transition: all 0.25s;
    color: #fff;
}

td .room_detail:hover{
    background-color: #fff;
    color: #6495ed;
}

td .room_delete:hover{
    background-color: #fff;
    color: #ff0000;
}

table tr:first-child{
    background-color: #6495ed;
    color: #fff;
}

.add_content, .default_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}  

#formAdd{
    padding: 35px 35px 25px;
    border: 1px solid #eee;
}

.add_input select, .add_input label, .add_input input{
    display: block;
}

.add_input{
    width: 40%;
    display: flex;
    align-items: center;
}

.add_input select, .add_input input{
    flex: 1;
    outline: none;
    color: black;
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: #eee;
    transition: all .25s;
    cursor: pointer;
}

.add_heading{
    width: 100%;
    height: 50px;
    background-color: #eee;
    border-radius: 15px 15px 0 0;
}

.add_area{
    margin-top: 20px;
}

.default_content .add_input input{
    background-color: rgba(237, 237, 237,0.4);
    color: #777;
}

.addSubmit{
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    margin-left: auto;
}

.addSubmit:hover{
    background-color: #9be231;
}

.add_warning{
    position: relative;
}

#warning{
    position: absolute;
    top: -25px;
    left: 100px;
    color: #ff0000;
    font-size: 0.9rem;
}
