body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a8c5fc;
}

.login{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 25px 25px; 
}

.login_heading{
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form_group{
    margin-bottom: 15px;
}

.form_input{
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #eee;
    background-color: #eee;
    transition: .1s linear;
    width: 100%;
}

.form_input:focus{
    border-color: #eee;
    background-color: #fff;
}

.form_input::-webkit-input-placeholder{
    color: #ccc;
    font-style: italic;
}

.form_submit{
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: #00aefd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.submit_text{
    margin: 0 auto;
    font-size: 20px;
}

#message{
    color: red;
    margin-top: 30px;
}

