/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2022, 6:31:33 PM
    Author     : Hai Duong
*/
#main{
    width: 85%;
    background-color: #fff;
    margin: 40px auto 0;
}

.main_heading{
    background-color: #6495ed;
    width: 100%;
}

.main_heading h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
}

.main_content{
    padding: 20px;
}

.filter_field, .spend_input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.filter_item, .spend_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    width: 30%;
}

.filter_item input, .filter_item select,
.spend_item input{
    display: block;
    flex: 1;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    transition: all .25s;
}

.filter_item input:focus, .filter_item select:focus,
.spend_item input:focus{
    box-shadow: 0 0 2px 2px skyblue inset;
}

.spend_input{
    justify-content: space-around;
}

.spend_item{
    width: 40%;
}

.btn_create button, .spend_form button,
#filterField button{
    display: block;
    border: none;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
}

.btn_create button:hover, .spend_form button:hover,
#filterField button:hover{
    background-color: #81c022;
}

.spend_form button, #filterField button{
    margin: 0 auto;
}

.spend_form{
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.spend_create{
    margin-top: 20px;
}

.history_list table, .history_list tr, .history_list td{
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 20px;
}

.history_list table{
    display: table;
    width: 100%;
    text-align: center;
}

.history_list{
    padding: 30px;
}

.history_list table thead{
    background-color: #6495ed;
    color: #fff;
    font-weight: 600;
}

td a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #ff0000;
    border-radius: 5px;
}

td a:hover{
    background-color: #d60d0d;
    color: #fff;
}

